BODY {
	FONT-SIZE: 8pt; MARGIN: 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #b8b8b8
}
TABLE {
	FONT-SIZE: 8pt
}
TD {
	VERTICAL-ALIGN: top
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#logo {
	TOP: 0px; TEXT-ALIGN: center
}
#banner {
	POSITION: relative; TOP: 1px; TEXT-ALIGN: center
}
#pagecontent {
	POSITION: relative; TOP: 2px
}
#content {
	BACKGROUND-COLOR: #ffffff
}
#content A {
	COLOR: #0033ff; TEXT-DECORATION: none
}
#content A:hover {
	TEXT-DECORATION: underline
}
#content .header {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0033ff
}
#content .tab {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ccccff
}
#navigation TABLE {
	WIDTH: 150px
}
#navigation A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#navigation A:hover {
	BORDER-RIGHT: #ccccff 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccccff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccccff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccccff 1px solid; BACKGROUND-COLOR: #0033ff
}
#bottom {
	COLOR: #ffffff; POSITION: relative; TOP: 1px; TEXT-ALIGN: center
}
