body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}

a {
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
  opacity: 80%;
  background-color: gainsboro;
}

.section__header {
  background-color: #4b2e83;
  color: white;
  transition: 0.3s;
  margin-bottom: 48px;
}

.section__header:hover {
  background-color: #85754d;
  color: #4b2e83;
}

section {
  min-height: 100vh;
}

.section__content {
  padding: 3% 10% 5% 10%;
}

#awards,
#gallery,
#projects {
  padding: 68px 10% 68px 10%;
}

/* Full height image header */

.bgimg-1 {
  width: 100%;
  margin-top: 3.9em;
  background: url('images/group_photo.png') no-repeat center center/contain;
}

.w3-bar .w3-button {
  padding: 16px;
}

.material-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: 0.3s;
  background-color: white;
}

.member-image {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

/* Associates section */

.associate-image {
  width: 14.66%;
  margin: 1em auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  background: #e4e4e4;
  padding: 1em;
}

.associate-img-wrapper {
  margin-bottom: 10%;
}

figcaption {
  align-self: flex-end;
  text-align: left;
  font-size: auto;
  font-style: italic;
  line-height: 1.5;
  color: #777;
  padding-right: 35px;
  /* Adjust this to control how far it should be from edge */
}

/* Awards section */

.award-card {
  min-height: 50vh;
  max-height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 48px;
}

.award-image-wrapper {
  height: 50vh;
  width: 312px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.award-image {
  height: 100%;
}

.award-info {
  margin: 12px;
  width: 50vw;
}

.award-recipient {
  font-size: 24px;
  font-weight: bold;
}

.award-name {
  font-size: 18px;
}

/* Awards section on smaller screens */

@media only screen and (max-width: 1200px) {
  .award-card {
    flex-direction: column;
  }

  .award-image-wrapper {
    width: 45vw;
    height: 45vw;
    margin-top: 24px;
    border-radius: 1%;
  }

  .award-image {
    width: 100%;
    height: auto;
  }
}

/* Project showcase */

.frame-wrap {
  height: 100%;
  overflow: hidden;
  position: relative;
  justify-content: center;
  padding-top: 608%;
}

.frame-wrap > iframe {
  transform: scale(var(--iframe-scale));
  transform-origin: top left;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Social Media Icon Color */

.fa {
  color: black;
}

.footer .fa {
  color: white;
}

.header .fa {
  color: black;
}

/* Adding the background color to about */

#about .w3-quarter {
  background-color: #f1eff9;
  background-size: 150px;
  width: 260px;
  height: 550px;
  border: 2px solid;
  color: #694ca2;
  margin: 10px;
}

/* Styling for the images in the about section */

#about .w3-quarter > img {
  padding: 24px;
  height: 50%;
  width: auto;
}
