body {background-color: #b8b8b8;font-family:Arial;font-size:8pt;margin:0px;}

table {font-size:15pt;}

td {vertical-align:top;}

img {border:0;}

#logo {top:0px;text-align:center;}

#banner {position:relative;top:1px;text-align:center;}

#pagecontent{position:relative;top:2px;}

#content {background-color:#ffffff;}
#content a{color:#0033ff;text-decoration:none;}
#content a:hover{text-decoration:underline;}
#content .header {color:#0033ff;font-size:25pt;font-weight:bold;}
#content .tab {background-color:#ccccff;border-bottom:1px solid #000000;font-weight:bold;}

#navigation table{width:150px;}
#navigation a{color:#ffffff;display:block;padding:3px 3px 3px 3px;text-decoration:none;}
#navigation a:hover{background-color:#0033ff;border:1px solid #ccccff;padding: 2px 2px 2px 2px;}

#bottom {color:#ffffff;position:relative;top:1px;text-align:center;}